<footer class="text-center text-light mt-4" style="background: rgb(13,20,54);
background: linear-gradient(180deg, rgba(13,20,54,1) 0%, rgba(40,57,119,1) 30%, rgba(63,69,125,1) 50%, rgba(40,57,119,1) 70%, rgba(20,36,93,1) 100%);
">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center text-light">
          <span class="me-3">Register On Projectio for free!</span>
        <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-outline-warning btn-rounded" %>
      </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © <%= Date.today.year %> Copyright:
      <a class="text-light" href="https://xhostcom.com/">Paul Anthony McGowan</a>
    </div>
    <!-- Copyright -->
  </footer>





